
h1, h2, h3, h4, h5, h6 {
    font-family: 'petit formal script';
    color: white;
}

a.navText, li{
    font-family: 'petit formal script';
    color: white;
}

p, .navbar-brand {
    font-size: 22px;
    font-family: 'simsun';
    color: white;
}

a.footerLink {
    font-family: 'simsun';
    color: white;
}

a {
    color: white;
}

.navbar-brand {
   font-family: 'petit formal script';
    color: white; 
}
.bodyText {
    color: black;
}

body {
    background-color: #EBC8DD;
}

.btn {
    background-color: black;
    font-family: 'simsun';
}

.pageTitle {
    color:black;
}


.photoFrame {
    display: block;
    padding-top: 8%;
    max-width: 90%;
    
    margin: 0 auto;
    padding-right: 0;
    justify-content: center;
    
    /*
    float: right;
   
    max-width: 90%; 
    height: auto;
    align-content: center;
    padding-top: 10%;
    */
}

.customNav {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    width:100%;
    background: url("https://i.pinimg.com/736x/59/48/64/594864394ce6c042c55a272437ef8587.jpg");
    
    background-color: transparent !important;
    background-size: cover;
    z-index: 10;
  }
.navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
    
}

.navbar-brand img {
    padding-right: 15px;
    width:65px;
}

.nav-item{
    margin: 0px 15px;
    
}

.customNav a {
    color: rgb(255, 255, 255) !important;
    
}

.name {
    margin-right: 0 !important;
    margin-left: auto; 
}

.gradientBG {
   /* background-image: url(https://i.pinimg.com/736x/87/df/61/87df61042cf9d327ddfbabbd022ab234.jpg);
   */
   background-image: linear-gradient(rgb(66, 57, 63), rgb(235, 200, 221));
   background-size: cover;
    background-repeat: no-repeat;
    display: fixed;
    height: 400px;
    height: calc(100vh - 25px);
    display: flex;
    align-items: baseline;
    justify-content: center;
}


.ctaBar {
    background-color: #665761;
    color: white;
    font-family: 'simsun';
   text-align: left;
   padding-top: 8px;
   padding-left: 12%;
   padding-right: 12%;
}

.resumeLink {
    text-align: right;
     color: white;
}


a.resumeLinkText {
    color: white;
}


footer {
    background-color: #3F363C;
}

@media screen and (max-width:800px) {
    .resumeLink {
        text-align: left;
    }  
}

@media screen and (max-width:991px) {
    .photoFrame {
       display: grid;
        align-content: center;
        justify-content: center;
    
        
    }
}